.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

li.active {
  background-color: #ec782a;
}

.dashboard {
  height: 40vw;
}

.dashboard .container-fluid .row .left-side {
  height: 81vh;
}

.dashboard .container-fluid .row .left-side h2 {
  color: blue;
  font-weight: 700;
}

.dashboard .container-fluid .row .left-side .currency-list {
  height: 92%;
  overflow: scroll;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard .container-fluid .row .left-side .currency-list .all-currencies-header {
  padding: 10px 10px 0px 10px;
}

.dashboard .container-fluid .row .left-side .currency-list .all-currencies-header li {
  font-weight: 700;
}

.dashboard .container-fluid .row .left-side .currency-list .all-currencies {
  padding: 0px 10px;
  cursor: pointer;
}

.dashboard .container-fluid .row .left-side .currency-list .all-currencies :hover {
  background-color: orange;
}

.dashboard .container-fluid .row .left-side .currency-list .all-currencies li .currency-key {
  font-weight: 700;
  margin-right: 10px;
}

.dashboard .container-fluid .row .right-side .right-upper {
  margin-top: 5%;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left {
  position: relative;
  background-color: #afafe0;
  height: 37vh;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-gainers {
  margin-right: 5px;
  width: 48%;
  background-color: greenyellow;
  height: 70%;
  border-radius: 5px;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-gainers li {
  list-style-type: none;
  font-size: 0.8vw;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-gainers li:hover {
  background-color: #1a91db;
  color: white;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-gainers .Top_gainer {
  font-size: 0.9w;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-loosers {
  width: 50%;
  background-color: #c97560;
  height: 70%;
  border-radius: 5px;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-loosers li {
  list-style-type: none;
  font-size: 0.8vw;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-loosers li:hover {
  background-color: #1a91db;
  color: white;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .item .right-upper-left-loosers .Top_loosers {
  font-size: 0.9vw;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .owl-item.active .item .content h2 {
  -webkit-animation: fadeFromTop 1s forwards;
          animation: fadeFromTop 1s forwards;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .owl-item.active .item .content button {
  -webkit-animation: fadeFromBottom 1s 2s forwards;
          animation: fadeFromBottom 1s 2s forwards;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .owl-dots {
  position: absolute;
  bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background-color: white;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .owl-dots .owl-dot:hover span {
  background-color: rgba(39, 174, 96, 0.5) !important;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-left .slide .owl-dots .owl-dot.active span {
  background: #27ae60;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right {
  height: 37vh;
  -webkit-box-shadow: 0px 2px 10px -2px #ccc;
          box-shadow: 0px 2px 10px -2px #ccc;
  height: 37vh;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group {
  margin-bottom: 20px;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice {
  margin-left: 10px;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-input {
  position: relative;
  margin-right: 50px;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-input .currency-type-input {
  margin-top: 5px;
  background-color: orange;
  color: white;
  text-align: center;
  padding: 15px 20px;
  width: 90px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-input ul {
  background: white;
  height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px #ccc;
          box-shadow: 0px 2px 10px -2px #ccc;
  z-index: 10;
  display: none;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-input ul li {
  padding: 10px;
  font-size: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-input ul li:hover {
  background-color: #ccc;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-output {
  margin-right: 50px;
  position: relative;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-output .currency-type-output {
  margin-top: 5px;
  background-color: orange;
  color: white;
  text-align: center;
  padding: 15px 20px;
  width: 90px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-output ul {
  background: white;
  height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px #ccc;
          box-shadow: 0px 2px 10px -2px #ccc;
  z-index: 10;
  display: none;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-output ul li {
  padding: 10px;
  font-size: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .currency-list-output ul li:hover {
  background-color: #ccc;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .quantity-input label {
  font-weight: 400;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .currency-choice .quantity-input input {
  display: block;
  border: orange 1px solid;
  color: black;
  padding: 15px 20px;
  width: 90px;
  height: 50px;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group button {
  padding: 10px;
  margin: 20px 0px;
  background: #1a91db;
  color: white;
  cursor: pointer;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .converted-result div {
  background-color: orange;
  padding: 10px 20px;
}

.dashboard .container-fluid .row .right-side .right-upper .container-fluid .right-upper-right .input-group .converted-result div span {
  font-size: 18px;
  color: white;
}

.dashboard .container-fluid .row .right-side .right-lower {
  height: 35vh;
  margin-top: 15px;
  margin-left: 15px;
  width: 56%;
  position: relative;
  color: white;
  left: 10%;
}

.dashboard .container-fluid .row .right-side .right-lower #lineChart {
  border-radius: 5px;
  border-style: groove;
  background-color: #d0ec83;
}
/*# sourceMappingURL=dashboard.css.map */