.about {
	height: 40vw;
}
.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}
li.active {
	background-color: #ec782a;
}
.outer_row {
	//background-image: url("../images/bg_about.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}
header{
	background-color: white !important;
}
.img {
	height: 302px;
	width: 100%;
}
.head {
	font-size: 3vw;
	margin: auto;
	width: 100%;
	text-align: center;
	color: rgb(30, 133, 202);
}
.members {
	text-align: center;
	color: rgb(19, 11, 11);
	font-size: 1vw;
}
.tech{
	text-align: center;
	color: rgb(19, 11, 11);
	font-size: 1vw;
	font-weight: 700;
}
.header1 {
	text-align: center;
	color: rgb(15, 10, 10);
	font-size: 2vw;
}

.upper-right {
	text-align: center;
	margin-top: auto;
	margin-bottom: 20px;
	text-align: center;
	width: 23vw;
	transform: translate(0%, 0%);
	
	margin-left: 38.6%;
	@media screen and (max-width: 1024px){
		width: 40vw;
		transform: translate(-20%, 0%);
	}
	@media screen and (max-width: 768px){
		width: 60vw;
		transform: translate(-28%, 0%);

	}
	@media screen and (max-width: 426px){
		width: 80vw;
		transform: translate(-33%, 0%);
	}
}
