.about {
	height: 40vw;
}
.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}
li.active {
	background-color: #ec782a;
}
.outer_row {
	//background-image: url("../images/bg_about.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.img {
	height: 302px;
	width: 100%;
}
.head {
	font-size: 3vw;
	margin: auto;
	width: 100%;
	text-align: center;
	color: rgb(30, 133, 202);
}
.members {
	text-align: center;
	color: rgb(19, 11, 11);
	font-size: 1vw;
}
.header1 {
	text-align: center;
	color: rgb(15, 10, 10);
	font-size: 2vw;
}
.col-sm-6 {
	height: 330px;
	color: rgb(19, 10, 10);
}
.canvas {
	height: 100px;
}
.upper-right {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	width: 23vw;
	margin-left: 38.6%;
}
