.navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
  }

li.active{
	background-color: #ec782a;
}

.convert {
	height: 40vw;
	.container-fluid {
		.row {
			.left-side {
				//background-color: lightgray;
				height: 74vh;

				h2 {
					color: blue;
					font-weight: 700;
				}
				.currency-list {
					//background-color: orange;
					height: 92%;
					overflow: scroll;
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					.all-currencies-header {
						padding: 10px 10px 0px 10px;
						li {
							font-weight: 700;
						}
					}
					.all-currencies {
						padding: 0px 10px;
						cursor: pointer;
						:hover {
							background-color: orange;
						}
						li {
							.currency-key {
								font-weight: 700;
								margin-right: 10px;
							}
						}
					}
				}
			}

			.right-side {
				.right-upper {
					position: relative;
					background-color: rgb(175, 175, 224);
					height: 37vh;
					padding: 10px;
					justify-content: space-between;
					.slide {
						.item {
							.right-upper-left {
								background-color: greenyellow;
								width: 48%;
								margin-right: 5px;
								height: 70%;
								border-radius: 5px;
								li {
									list-style-type: none;
									font-size: 0.8vw;
								}
								li:hover {
									background-color: #1a91db;
									color: white;
								}
								.Top_gainer {
									font-size: 0.9w;
								}
							}
							.right-upper-right {
								background-color: rgb(201, 117, 96);
								width: 48%;
								height: 70%;
								border-radius: 5px;
								li {
									list-style-type: none;
									font-size: 0.8vw;
								}
								li:hover {
									background-color: #1a91db;
									color: white;
								}
								.Top_loosers {
									font-size: 0.9vw;
								}
							}
						}
						/* .owl-nav{
							margin-top: 0;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							display: flex;
							justify-content: space-between;
							width: 100%;
							button{
								i{
									color: white;
									font-size: 15px;
								}
							}
							//phut 41:54, video 10-1-2021
							[class*=owl-]:hover{
								background: none;
							}
						} */
						.owl-item.active {
							.item {
								.content {
									h2 {
										animation: fadeFromTop 1s forwards;
									}
									button {
										animation: fadeFromBottom 1s 2s forwards;
									}
								}
							}
						}
						.owl-dots {
							position: absolute;
							bottom: -30px;
							display: flex;
							justify-content: center;
							width: 100%;
							.owl-dot {
								span {
									width: 15px;
									height: 15px;
									background-color: white;
								}
								&:hover {
									span {
										//khi thêm !important thì nó sẽ bỏ hết các thuộc tính css khác
										//mà chỉ lấy thuộc tính của dòng important
										background-color: rgba(#27ae60, 0.5) !important;
									}
								}
								&.active {
									span {
										background: #27ae60;
									}
								}
							}
						}
					}
				}
				.right-lower {
					box-shadow: 0px 2px 10px -2px #ccc;
					height: 37vh;
					padding: 70px;
					.input-group {
						margin-bottom: 20px;
						.currency-choice {
							margin-left: 10px;
							.currency-list-input {
								position: relative;
								margin-right: 50px;

								.currency-type-input {
									margin-top: 5px;
									background-color: orange;
									color: white;
									text-align: center;
									padding: 15px 20px;
									width: 180px;
									height: 50px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}
								ul {
									background: white;
									height: 200px;
									overflow-y: auto;
									position: absolute;
									width: 100%;
									box-shadow: 0px 2px 10px -2px #ccc;
									z-index: 10;
									display: none;
									li {
										padding: 10px;
										font-size: 12px;
										transition: 0.4s;
										cursor: pointer;
										&:hover {
											background-color: #ccc;
										}
									}
								}
							}

							.currency-list-output {
								margin-right: 50px;
								position: relative;
								.currency-type-output {
									margin-top: 5px;
									background-color: orange;
									color: white;
									text-align: center;
									padding: 15px 20px;
									width: 180px;
									height: 50px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}
								ul {
									background: white;
									height: 200px;
									overflow-y: auto;
									position: absolute;
									width: 100%;
									box-shadow: 0px 2px 10px -2px #ccc;
									z-index: 10;
									display: none;
									li {
										padding: 10px;
										font-size: 12px;
										transition: 0.4s;
										cursor: pointer;
										&:hover {
											background-color: #ccc;
										}
									}
								}
							}

							.quantity-input {
								label {
									font-weight: 400;
								}
								input {
									display: block;
									border: orange 1px solid;
									color: black;
									padding: 15px 20px;
									width: 180px;
									height: 50px;
								}
							}
						}
						button {
							padding: 10px;
							margin: 20px 0px;
							background: #1a91db;
							color: white;
							cursor: pointer;
						}

						.converted-result {
							div {
								background-color: orange;
								padding: 10px 20px;
								span {
									font-size: 18px;
									color: white;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 670px) {
	.convert {
		.container-fluid {
			.row {
				.left-side {
					//background-color: lightgray;
					height: 74vh;

					h2 {
						color: blue;
						font-weight: 700;
					}
					.currency-list {
						//background-color: orange;
						height: 92%;
						overflow: scroll;
						box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
						.all-currencies-header {
							padding: 10px 10px 0px 10px;
							li {
								font-weight: 700;
							}
						}
						.all-currencies {
							padding: 0px 10px;
							cursor: pointer;
							:hover {
								background-color: orange;
							}
							li {
								.currency-key {
									font-weight: 700;
									margin-right: 10px;
								}
							}
						}
					}
				}

				.right-side {
					.right-upper {
						position: relative;
						background-color: rgb(175, 175, 224);
						height: 20vh;
						padding: 10px;
						justify-content: space-between;
						.slide {
							.item {
								.right-upper-left {
									background-color: greenyellow;
									width: 100%;
									text-align: center;
									margin-right: 5px;
									height: 70%;
									border-radius: 5px;
									li {
										list-style-type: none;
										font-size: 0.8vw;
									}
									li:hover {
										background-color: #1a91db;
										color: white;
									}
									.Top_gainer {
										font-size: 0.9w;
									}
								}
								.right-upper-right {
									background-color: rgb(201, 117, 96);
									text-align: center;
									width: 100%;
									height: 70%;
									border-radius: 5px;
									li {
										list-style-type: none;
										font-size: 0.8vw;
									}
									li:hover {
										background-color: #1a91db;
										color: white;
									}
									.Top_loosers {
										font-size: 0.9vw;
									}
								}
							}
							/* .owl-nav{
								margin-top: 0;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								display: flex;
								justify-content: space-between;
								width: 100%;
								button{
									i{
										color: white;
										font-size: 15px;
									}
								}
								//phut 41:54, video 10-1-2021
								[class*=owl-]:hover{
									background: none;
								}
							} */
							.owl-item.active {
								.item {
									.content {
										h2 {
											animation: fadeFromTop 1s forwards;
										}
										button {
											animation: fadeFromBottom 1s 2s forwards;
										}
									}
								}
							}
							.owl-dots {
								position: absolute;
								bottom: -30px;
								display: flex;
								justify-content: center;
								width: 100%;
								.owl-dot {
									span {
										width: 15px;
										height: 15px;
										background-color: white;
									}
									&:hover {
										span {
											//khi thêm !important thì nó sẽ bỏ hết các thuộc tính css khác
											//mà chỉ lấy thuộc tính của dòng important
											background-color: rgba(#27ae60, 0.5) !important;
										}
									}
									&.active {
										span {
											background: #27ae60;
										}
									}
								}
							}
						}
					}
					.right-lower {
						box-shadow: 0px 2px 10px -2px #ccc;
						height: 32vh;
						.input-group {
							margin-bottom: 20px;
							.currency-choice {
								margin-left: 10px;
								.currency-list-input {
									position: relative;
									margin-right: 50px;

									.currency-type-input {
										margin-top: 5px;
										background-color: orange;
										color: white;
										text-align: center;
										padding: 15px 20px;
										width: 180px;
										height: 50px;
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
									}
									ul {
										background: white;
										height: 200px;
										overflow-y: auto;
										position: absolute;
										width: 100%;
										box-shadow: 0px 2px 10px -2px #ccc;
										z-index: 10;
										display: none;
										li {
											padding: 10px;
											font-size: 12px;
											transition: 0.4s;
											cursor: pointer;
											&:hover {
												background-color: #ccc;
											}
										}
									}
								}

								.currency-list-output {
									margin-right: 50px;
									position: relative;
									.currency-type-output {
										margin-top: 5px;
										background-color: orange;
										color: white;
										text-align: center;
										padding: 15px 20px;
										width: 180px;
										height: 50px;
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
									}
									ul {
										background: white;
										height: 200px;
										overflow-y: auto;
										position: absolute;
										width: 100%;
										box-shadow: 0px 2px 10px -2px #ccc;
										z-index: 10;
										display: none;
										li {
											padding: 10px;
											font-size: 12px;
											transition: 0.4s;
											cursor: pointer;
											&:hover {
												background-color: #ccc;
											}
										}
									}
								}

								.quantity-input {
									label {
										font-weight: 400;
									}
									input {
										display: block;
										border: orange 1px solid;
										color: black;
										padding: 15px 20px;
										width: 180px;
										height: 50px;
									}
								}
							}
							button {
								padding: 10px;
								margin: 20px 0px;
								background: #1a91db;
								color: white;
								cursor: pointer;
							}

							.converted-result {
								div {
									background-color: orange;
									padding: 10px 20px;
									span {
										font-size: 18px;
										color: white;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
