.convert {
	.container-fluid {
		.row {
			.left-side {
				//background-color: lightgray;
				height: 74vh;
				
				h2{
					color: blue;
					font-weight: 700;
				}
				.currency-list{
					//background-color: orange;
					height: 92%;
					overflow: scroll;
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					.all-currencies-header{
						padding: 10px 10px 0px 10px;
						li{
                            font-weight: 700;
                        }
					}
					.all-currencies{
						padding: 0px 10px;
						cursor: pointer;
						:hover{
							background-color: orange;
						}
						li{
							.currency-key{
								font-weight: 700;
								margin-right: 10px;
							}
						}
						
					}
				}
				
			}

			.right-side {
				.right-upper {
					background-color: lavender;
					height: 37vh;
				}
				.right-lower {
					background-color: lightgray;
					height: 37vh;
				}
			}
		}
	}
}
