.convert{
    .container-fluid{
        .row{
            .left-side{
                background-color: lavenderblush;
                height: 74vh;

            } 
            .right-side{
                
                .right-upper{
                    background-color: lavender;
                    height: 37vh;
                }
                .right-lower{
                    background-color: lightgray;
                    height: 37vh;
                }
            }
        }
    }
}