.currencies{
    .container-fluid{
        .row{
            .left-side{
                background-color: lavenderblush;
                height: 74vh;

            } 
            .right-side{
                
                .right-upper{
                    .container-fluid{
                        .right-upper-left{
                            background-color: lavender;
                            height: 37vh;
                        }
                        .right-upper-right{
                            background-color: orange;
                            height: 37vh;
                        }
                    }
                    
                    
                }
                .right-lower{
                    background-color: lightgray;
                    height: 37vh;
                }
            }
        }
    }
}