.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}
header {
	background-color: black;
}
li.active {
	background-color: #ec782a;
}
html {
	background-color: black;
}
.dashboard {
	height: 54vw;
	background-color: rgb(0, 0, 0);
	.container-fluid {
		.row {
			.left-side {
				::-webkit-scrollbar {
					width: 20px;
				}

				::-webkit-scrollbar-track {
					box-shadow: inset 0 0 5px grey;
					border-radius: 10px;
				}

				::-webkit-scrollbar-thumb {
					background: rgb(255, 0, 0);
					border-radius: 10px;
				}

				::-webkit-scrollbar-thumb:hover {
					background: #c41818;
				}
				height: 50vw;
				border-radius: 10px;

				h2 {
					color: rgb(255, 255, 255);
					font-weight: 700;
					text-align: center;
				}
				.currency-list {
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					-webkit-box-shadow: 0px 0px 4px #4195fc;
					-moz-box-shadow: 0px 0px 4px #4195fc;
					box-shadow: 0px 0px 4px #4195fc;
					background-color: rgb(243, 201, 14);
					//background-color: orange;
					height: 92%;

					overflow: scroll;
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					.all-currencies-header {
						padding: 10px 10px 0px 10px;
						li {
							font-weight: 700;
						}
					}
					.all-currencies {
						padding: 0px 10px;
						cursor: pointer;
						:hover {
							background-color: orange;
						}
						li {
							.currency-key {
								font-weight: 700;
								margin-right: 10px;
							}
						}
					}
				}
			}
			.right-side {
				.right-upper {
					margin-top: 7%;
					.container-fluid {
						.right-upper-left {
							position: relative;
							background-color: rgb(243, 201, 14);
							height: 37vh;
							padding: 20px;
							text-align: center;
							border-radius: 10px;
							-webkit-border-radius: 4px;
							-moz-border-radius: 4px;
							border-radius: 4px;
							-webkit-box-shadow: 0px 0px 4px #4195fc;
							-moz-box-shadow: 0px 0px 4px #4195fc;
							box-shadow: 0px 0px 4px #4195fc;
							justify-content: space-between;
							.slide {
								.item {
									.right-upper-left-gainers {
										border-style: groove;
										margin-right: 5px;
										width: 48%;
										background-color: greenyellow;
										height: 70%;
										border-radius: 5px;
										li {
											list-style-type: none;
											font-size: 0.8vw;
										}
										li:hover {
											background-color: #1a91db;
											color: white;
										}
										.Top_gainer {
											font-size: 1.2vw;
										}
									}
									.right-upper-left-loosers {
										border-style: groove;
										width: 50%;
										background-color: rgb(201, 117, 96);
										height: 70%;
										border-radius: 5px;
										li {
											list-style-type: none;
											font-size: 0.8vw;
										}
										li:hover {
											background-color: #1a91db;
											color: white;
										}
										.Top_loosers {
											font-size: 1.2vw;
										}
									}
								}

								.owl-item.active {
									.item {
										.content {
											h2 {
												animation: fadeFromTop 1s forwards;
											}
											button {
												animation: fadeFromBottom 1s 2s forwards;
											}
										}
									}
								}
								.owl-dots {
									position: absolute;
									bottom: -30px;
									display: flex;
									justify-content: center;
									width: 100%;
									.owl-dot {
										span {
											width: 15px;
											height: 15px;
											background-color: white;
										}
										&:hover {
											span {
												//khi thêm !important thì nó sẽ bỏ hết các thuộc tính css khác
												//mà chỉ lấy thuộc tính của dòng important
												background-color: rgba(#27ae60, 0.5) !important;
											}
										}
										&.active {
											span {
												background: #27ae60;
											}
										}
									}
								}
							}
						}
						.right-upper-right {
							background-color: rgb(243, 201, 14);
							height: 37vh;
							padding: 20px;
							box-shadow: 0px 2px 10px -2px #ccc;
							height: 37vh;
							border-radius: 10px;
							.input-group {
								margin-bottom: 20px;
								.currency-choice {
									margin-left: 10px;
									.currency-list-input {
										position: relative;
										margin-right: 50px;

										.currency-type-input {
											margin-top: 5px;
											background-color: orange;
											color: white;
											text-align: center;
											padding: 15px 20px;
											width: 90px;
											height: 50px;
											white-space: nowrap;
											overflow: hidden;
											text-overflow: ellipsis;
											border-radius: 5px;
										}
										ul {
											background: white;
											height: 200px;
											overflow-y: auto;
											position: absolute;
											width: 100%;
											box-shadow: 0px 2px 10px -2px #ccc;
											z-index: 10;
											display: none;
											li {
												padding: 10px;
												font-size: 12px;
												transition: 0.4s;
												cursor: pointer;
												&:hover {
													background-color: #ccc;
												}
											}
										}
									}

									.currency-list-output {
										margin-right: 50px;
										position: relative;
										.currency-type-output {
											margin-top: 5px;
											background-color: orange;
											color: white;
											text-align: center;
											padding: 15px 20px;
											width: 90px;
											height: 50px;
											white-space: nowrap;
											overflow: hidden;
											text-overflow: ellipsis;
											border-radius: 5px;
										}
										ul {
											background: white;
											height: 200px;
											overflow-y: auto;
											position: absolute;
											width: 100%;
											box-shadow: 0px 2px 10px -2px #ccc;
											z-index: 10;
											display: none;
											li {
												padding: 10px;
												font-size: 12px;
												transition: 0.4s;
												cursor: pointer;
												&:hover {
													background-color: #ccc;
												}
											}
										}
									}

									.quantity-input {
										label {
											font-weight: 400;
										}
										input {
											border-radius: 5px;
											display: block;
											border: orange 1px solid;
											color: black;
											padding: 15px 20px;
											width: 90px;
											height: 50px;
											background-color: white;
										}
									}
								}
								button {
									padding: 10px;
									margin: 20px 0px;
									background: #1a91db;
									color: white;
									cursor: pointer;
									border-radius: 5px;
								}

								.converted-result {
									div {
										border-radius: 5px;
										background-color: orange;
										padding: 10px 20px;
										span {
											font-size: 18px;
											color: white;
										}
									}
								}
							}
						}
					}
				}
				.right-lower {
					//background-color: yellowgreen;
					height: 35vh;
					margin-top: 15px;
					margin-left: 15px;
					width: 70%;
					position: relative;
					color: white;
					left: 27%;
					.note {
						padding: 15px;
						text-align: center;
						width: 16vw;
						font-size: 1vw;
						color: black;
						position: absolute;
						z-index: 2;
						left: -37%;
						height: 18vw;
						border-radius: 10px;
						background-color: rgb(236, 180, 115);
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
						-webkit-box-shadow: 0px 0px 4px #4195fc;
						-moz-box-shadow: 0px 0px 4px #4195fc;
						box-shadow: 0px 0px 4px #4195fc;
					}
					#lineChart {
						border-radius: 5px;
						border-style: groove;
						//transform: translate(50%, 50%%);
						background-color: rgb(222, 247, 113);
						border: 5px solid black;
						border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
							1;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						-webkit-box-shadow: 0px 0px 4px #4195fc;
						-moz-box-shadow: 0px 0px 4px #4195fc;
						box-shadow: 0px 0px 4px #4195fc;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.dashboard {
		height: 54vw;
		background-color: rgb(0, 0, 0);
		.container-fluid {
			.row {
				.left-side {
					::-webkit-scrollbar {
						width: 20px;
					}

					::-webkit-scrollbar-track {
						box-shadow: inset 0 0 5px grey;
						border-radius: 10px;
					}

					::-webkit-scrollbar-thumb {
						background: rgb(255, 0, 0);
						border-radius: 10px;
					}

					::-webkit-scrollbar-thumb:hover {
						background: #c41818;
					}
					height: 100vw;
					border-radius: 10px;

					h2 {
						color: rgb(255, 255, 255);
						font-weight: 700;
						text-align: center;
					}
					.currency-list {
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
						-webkit-box-shadow: 0px 0px 4px #4195fc;
						-moz-box-shadow: 0px 0px 4px #4195fc;
						box-shadow: 0px 0px 4px #4195fc;
						background-color: rgb(243, 201, 14);
						//background-color: orange;
						height: 92%;

						overflow: scroll;
						box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
						.all-currencies-header {
							padding: 10px 10px 0px 10px;
							li {
								font-weight: 700;
							}
						}
						.all-currencies {
							padding: 0px 10px;
							cursor: pointer;
							:hover {
								background-color: orange;
							}
							li {
								.currency-key {
									font-weight: 700;
									margin-right: 10px;
								}
							}
						}
					}
				}
				.right-side {
					.right-upper {
						margin-top: 7%;
						.container-fluid {
							.right-upper-left {
								position: relative;
								background-color: rgb(243, 201, 14);
								height: 40vh;
								padding: 20px;
								text-align: center;
								border-radius: 10px;
								-webkit-border-radius: 4px;
								-moz-border-radius: 4px;
								border-radius: 4px;
								-webkit-box-shadow: 0px 0px 4px #4195fc;
								-moz-box-shadow: 0px 0px 4px #4195fc;
								box-shadow: 0px 0px 4px #4195fc;
								justify-content: space-between;
								.slide {
									.item {
										.right-upper-left-gainers {
											border-style: groove;
											margin-right: 5px;
											width: 100%;
											background-color: greenyellow;
											height: 70%;
											border-radius: 5px;
											li {
												list-style-type: none;
												font-size: 1.1vw;
											}
											li:hover {
												background-color: #1a91db;
												color: white;
											}
											.Top_gainer {
												font-size: 2vw;
											}
										}
										.right-upper-left-loosers {
											border-style: groove;
											width: 100%;
											background-color: rgb(201, 117, 96);
											height: 70%;
											border-radius: 5px;
											li {
												list-style-type: none;
												font-size: 1.1vw;
											}
											li:hover {
												background-color: #1a91db;
												color: white;
											}
											.Top_loosers {
												font-size: 2vw;
											}
										}
									}

									.owl-item.active {
										.item {
											.content {
												h2 {
													animation: fadeFromTop 1s forwards;
												}
												button {
													animation: fadeFromBottom 1s 2s forwards;
												}
											}
										}
									}
									.owl-dots {
										position: absolute;
										bottom: -30px;
										display: flex;
										justify-content: center;
										width: 100%;
										.owl-dot {
											span {
												width: 15px;
												height: 15px;
												background-color: white;
											}
											&:hover {
												span {
													//khi thêm !important thì nó sẽ bỏ hết các thuộc tính css khác
													//mà chỉ lấy thuộc tính của dòng important
													background-color: rgba(#27ae60, 0.5) !important;
												}
											}
											&.active {
												span {
													background: #27ae60;
												}
											}
										}
									}
								}
							}
							.right-upper-right {
								background-color: rgb(243, 201, 14);
								height: 44vh;
								padding: 20px;
								box-shadow: 0px 2px 10px -2px #ccc;

								border-radius: 10px;
								.input-group {
									margin-bottom: 20px;
									.currency-choice {
										margin-left: 10px;
										.currency-list-input {
											position: relative;
											margin-right: 50px;

											.currency-type-input {
												margin-top: 5px;
												background-color: orange;
												color: white;
												text-align: center;
												padding: 15px 20px;
												width: 90px;
												height: 50px;
												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
												border-radius: 5px;
											}
											ul {
												background: white;
												height: 200px;
												overflow-y: auto;
												position: absolute;
												width: 100%;
												box-shadow: 0px 2px 10px -2px #ccc;
												z-index: 10;
												display: none;
												li {
													padding: 10px;
													font-size: 12px;
													transition: 0.4s;
													cursor: pointer;
													&:hover {
														background-color: #ccc;
													}
												}
											}
										}

										.currency-list-output {
											margin-right: 50px;
											position: relative;
											.currency-type-output {
												margin-top: 5px;
												background-color: orange;
												color: white;
												text-align: center;
												padding: 15px 20px;
												width: 90px;
												height: 50px;
												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
												border-radius: 5px;
											}
											ul {
												background: white;
												height: 200px;
												overflow-y: auto;
												position: absolute;
												width: 100%;
												box-shadow: 0px 2px 10px -2px #ccc;
												z-index: 10;
												display: none;
												li {
													padding: 10px;
													font-size: 12px;
													transition: 0.4s;
													cursor: pointer;
													&:hover {
														background-color: #ccc;
													}
												}
											}
										}

										.quantity-input {
											label {
												font-weight: 400;
											}
											input {
												border-radius: 5px;
												display: block;
												border: orange 1px solid;
												color: black;
												padding: 15px 20px;
												width: 90px;
												height: 50px;
												background-color: white;
											}
										}
									}
									button {
										padding: 10px;
										margin: 20px 0px;
										background: #1a91db;
										color: white;
										cursor: pointer;
										border-radius: 5px;
									}

									.converted-result {
										div {
											border-radius: 5px;
											background-color: orange;
											padding: 10px 20px;
											span {
												font-size: 18px;
												color: white;
											}
										}
									}
								}
							}
						}
					}
					.right-lower {
						//background-color: yellowgreen;
						height: 35vh;
						margin-top: 15px;
						margin-left: 15px;
						width: 100%;
						position: relative;
						color: white;
						left: -2%;
						.note {
							visibility: hidden;
							text-align: center;

							font-size: 1vw;
							color: black;
							position: fixed;
							z-index: 2;

							height: 0vw;
							border-radius: 10px;
							background-color: rgb(236, 180, 115);
							-webkit-border-radius: 4px;
							-moz-border-radius: 4px;
							border-radius: 4px;
							-webkit-box-shadow: 0px 0px 4px #4195fc;
							-moz-box-shadow: 0px 0px 4px #4195fc;
							box-shadow: 0px 0px 4px #4195fc;
						}
						#lineChart {
							left: -155px;
							border-radius: 5px;
							border-style: groove;
							//transform: translate(50%, 50%%);
							background-color: rgb(222, 247, 113);
							border: 5px solid black;
							border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
								1;
							-webkit-border-radius: 4px;
							-moz-border-radius: 4px;
							-webkit-box-shadow: 0px 0px 4px #4195fc;
							-moz-box-shadow: 0px 0px 4px #4195fc;
							box-shadow: 0px 0px 4px #4195fc;
						}
					}
				}
			}
		}
	}
}
