.navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
  }
li.active{
	background-color: #ec782a;
}
#container-fluid {
	background-image: url("../images/333803.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	height: 40vw;
	.home-content{
		background-color: black;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		bottom: 50%;
		right: 50%;
		transform: translate(50%, -100%);
		@media screen and (max-width: 768px){
			transform: translate(50%, -50%);
		}
		.row {
			border: 2px solid rgb(84, 151, 228);
			background-color: white;
			border-radius: 5px;
			padding: 10px 50px;
			//width: 50vw;
			.welcome {
				font-size: 1.2vw;
				//font-family: cursive;
				margin: auto;
				width: 100%;
				text-align: center;
				color: rgb(69, 69, 212);
				font-weight: bold;
				animation: run 1s linear 1;
			}
			div{
				width: 70%;
				margin: auto;
				a{
					font-size: 1vw;
					margin: auto;
					text-align: center;
					font-weight: bold;
				}
			}
			.btn-success {
				margin: auto;
				width: 100%;
				animation: spin 1s linear 1;
			}
		}
	}
}

@keyframes bf1 {
	0% {
		transform: translate(-700px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes bf2 {
	0% {
		transform: translate(600px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes run {
	0% {
		transform: translate(-300px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes spin {
	0% {
		transform: translate(300px, 110px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

