html {
	background-color: black;
}
.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}
li.active {
	background-color: #ec782a;
}
#container-fluid {
	background-image: url("../images/333803.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	height: 70vw;
	@media screen and (max-width: 768px) {
		height: 80vw;
	}
	@media screen and (max-width: 414px) {
		height: 110vw;
	}
	.home-content {
		background-color: black;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		bottom: 50%;
		right: 50%;
		transform: translate(50%, -100%);
		@media screen and (max-width: 768px) {
			transform: translate(50%, -50%);
		}
		.row {
			border-radius: 15px;
			padding: 10px 50px;
			--borderWidth: 10px;
			@media screen and (max-width: 414px) {
				margin-top: -35%;
			}
			background: #1d1f20;
			position: relative;
			.welcome {
				font-size: 1.2vw;
				@media screen and (max-width: 414px) {
					font-size: 10px;
				}
				margin: auto;
				width: 100%;
				text-align: center;
				color: rgb(255, 255, 255);
				font-weight: bold;
				animation: run 1s linear 1;
			}
			div {
				width: 70%;
				margin: auto;
				a {
					font-size: 1vw;
					margin: auto;
					text-align: center;
					font-weight: bold;
				}
			}
			.btn-success {
				margin: auto;
				width: 100%;
				animation: spin 1s linear 1;
			}
		}
		.row:after {
			content: "";
			position: absolute;
			top: calc(-1 * var(--borderWidth));
			left: calc(-1 * var(--borderWidth));
			height: calc(100% + var(--borderWidth) * 2);
			width: calc(100% + var(--borderWidth) * 2);
			background: linear-gradient(
				60deg,
				#f79533,
				#f37055,
				#ef4e7b,
				#a166ab,
				#5073b8,
				#1098ad,
				#07b39b,
				#6fba82
			);
			border-radius: calc(2 * var(--borderWidth));
			z-index: -1;
			animation: animatedgradient 3s ease alternate infinite;
			background-size: 300% 300%;
		}

		@keyframes animatedgradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
	}
}

@keyframes bf1 {
	0% {
		transform: translate(-700px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes bf2 {
	0% {
		transform: translate(600px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes run {
	0% {
		transform: translate(-300px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes spin {
	0% {
		transform: translate(300px, 110px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
