#container-fluid {
	background-image: url("../images/333803.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	height: 600px;
}
.welcome {
	font-size: 1.2vw;
	font-family: cursive;
	margin: auto;
	width: 100%;
	text-align: center;
	color: rgb(69, 69, 212);
	font-weight: bold;
	animation: run 1s linear 1;
}
.img-bf {
	height: 15vw;
	margin-top: 16%;
	margin-left: 25%;

	animation: bf1 1s linear 1;

}
.img-bf-coin {
	height: 15vw;

	margin-left: 58%;
	animation-delay: 2s;
	animation: bf2 1s linear 1;
	
}
@keyframes bf1 {
	0% {
		transform: translate(-700px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes bf2 {
	0% {
		transform: translate(600px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes run {
	0% {
		transform: translate(-300px, -100px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
.btn.btn-success {
	margin: auto;
	width: 100%;
	animation: spin 1s linear 1;
}
@keyframes spin {
	0% {
		transform: translate(300px, 110px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
.row {
	position: absolute;
	top: 25%;
	left: 25%;
	border: 2px solid rgb(84, 151, 228);
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	width: 50vw;
}
@media screen and (max-width: 670px) {
	.row {
		position: absolute;
		top: 45%;
		left: 25%;
		border: 2px solid rgb(84, 151, 228);
		background-color: white;
		border-radius: 5px;
		padding: 10px;
		width: 50vw;
	}
	.img-bf {
		height: 15vw;
		margin-top: 24%;
		margin-left: 11%;

		animation: bf1 1s linear 1;
		animation-delay: 0.5s;
	}
	.img-bf-coin {
		height: 15vw;
		margin-top: -5%;
		margin-left: 58%;
		animation-delay: 2s;
		animation: bf2 1s linear 1;
		animation-delay: 1.5s;
	}
}
@media screen and (max-width: 970px) {
	.row {
		position: absolute;
		top: 45%;
		left: 25%;
		border: 2px solid rgb(84, 151, 228);
		background-color: white;
		border-radius: 5px;
		padding: 10px;
		width: 50vw;
	}
	.img-bf {
		height: 15vw;
		margin-top: 24%;
		margin-left: 11%;

		animation: bf1 1s linear 1;
		animation-delay: 0.5s;
	}
	.img-bf-coin {
		height: 15vw;
		margin-top: -5%;
		margin-left: 58%;
		animation-delay: 2s;
		animation: bf2 1s linear 1;
		animation-delay: 1.5s;
	}
}
@media screen and (max-width: 420px) {
	.row {
		position: absolute;
		top: 17%;
		left: 25%;
		border: 2px solid rgb(84, 151, 228);
		background-color: white;
		border-radius: 5px;
		padding: 10px;
		width: 50vw;
	}
	.img-bf {
		height: 15vw;
		margin-top: 24%;
		margin-left: 11%;

		animation: bf1 1s linear 1;
		animation-delay: 0.5s;
	}
	.img-bf-coin {
		height: 15vw;
		margin-top: -5%;
		margin-left: 58%;
		animation-delay: 2s;
		animation: bf2 1s linear 1;
		animation-delay: 1.5s;
	}
}
@media screen and (max-width: 957px) {
	.row {
		position: absolute;
		top: 16%;
		left: 25%;
		border: 2px solid rgb(84, 151, 228);
		background-color: white;
		border-radius: 5px;
		padding: 10px;
		width: 50vw;
	}
	.img-bf {
		height: 15vw;
		margin-top: 14%;
		margin-left: 11%;
		animation: bf1 1s linear 1;
		animation-delay: 0.5s;
	}
	.img-bf-coin {
		height: 15vw;
		margin-top: -5%;
		margin-left: 58%;
		animation-delay: 2s;
		animation: bf2 1s linear 1;
		animation-delay: 1.5s;
	}
}
/*# sourceMappingURL=home.css.map */
